.liberty-content-main .reading_time {
  text-align: right;
}

.liberty-content-main .reading_time {
  text-align: right;
  font-size: 0.8rem;
}

.liberty-content-main .written_time {
  text-align: right;
  font-size: 0.8rem;
}

.liberty-content-main article {
  font-family: "IBM Plex Sans KR, Apple SD Gothic Neo", "Spoqa Han Sans",
    "SpoqaHanSans", "Noto Sans CJK KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.liberty-content-main article h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "나눔스퀘어, IBM Plex Sans KR, Apple SD Gothic Neo",
    "Spoqa Han Sans", "SpoqaHanSans", "Noto Sans CJK KR", "Malgun Gothic",
    "맑은 고딕", sans-serif;
  margin-bottom: 2rem;
}

.liberty-content-main article p {
  margin-bottom: 2rem;
  line-height: 2rem;
}

.liberty-content-main article ul {
  margin-bottom: 1rem;
}

.liberty-content-main article li {
  margin-left: 2rem;
}

.liberty-content-main .liberty-article-more {
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
}

.liberty-content-main .liberty-article-morelink {
  border: 2px solid white;
  padding: 0.5rem;
  color: white;
  border-radius: 1rem;
  background-color: #39f;
}

.liberty-content-main .liberty-article-morelink:hover {
  background-color: #5aaafa;
  transition-duration: 300ms;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.Liberty .content-wrapper .liberty-content .liberty-content-main .catlinks {
  border: 1px solid #e1e8ed;
  padding: 0.4rem;
  padding-left: 1rem;
  box-shadow: 0.15rem 0.15rem 0 0 #cfdae2;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.35rem;
  display: inline-block;
  width: 100%;
}

.Liberty
  .content-wrapper
  .liberty-content
  .liberty-content-main
  .catlinks
  #catlinks-header {
  color: #2e92f7;
}

.Liberty
  .content-wrapper
  .liberty-content
  .liberty-content-main
  .catlinks
  span {
  color: #a2a9b1;
}

.Liberty
  .content-wrapper
  .liberty-content
  .liberty-content-main
  .wp-block-embed__wrapper
  blockquote {
  display: none;
}

.Liberty
  .content-wrapper
  .liberty-content
  .liberty-content-main
  .wp-block-embed__wrapper
  iframe {
  position: relative !important;
}

.liberty-footer.liberty-comment {
  margin-top: 2rem;
  border: 2px solid #f5f5f5;
  padding: 1rem;
  border-radius: 2rem;
}

.liberty-footer .liberty-comment #liberty-comments-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.liberty-footer .liberty-comment .liberty-comment-list li {
  background-color: #d9edf7;
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 120px;
  margin-bottom: 2rem;
}

.liberty-footer .liberty-comment .liberty-comment-list li:last-child {
  margin-bottom: 0;
}

.liberty-footer .liberty-comment .liberty-comment-list li .comment-body {
  clear: both;
  position: relative;
}

.liberty-footer .liberty-comment .liberty-comment-list li .comment-body .vcard {
  float: left;
}

.liberty-footer
  .liberty-comment
  .liberty-comment-list
  li
  .comment-body
  .vcard
  img {
  position: absolute;
  left: -100px;
  width: 90px;
  height: 90px;
  max-width: 100px;
}

.liberty-footer
  .liberty-comment
  .liberty-comment-list
  li
  .comment-body
  .vcard
  cite {
  margin-right: 1rem;
  font-style: normal;
  color: #39f;
}

.liberty-footer
  .liberty-comment
  .liberty-comment-list
  li
  .comment-body
  .vcard
  .says {
  display: none;
}

.liberty-footer .liberty-comment #comments {
  font-size: 1rem;
  padding: 0.5rem;
}

.liberty-footer .liberty-comment .commentlist {
  margin-left: 2rem;
  border: 2px solid #f5f5f5;
  border-radius: 2rem;
  list-style: none;
  padding: 1rem;
}

.liberty-footer .liberty-comment .commentlist li .comment-body {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 1rem;
}

.liberty-footer .liberty-comment .commentlist li .comment-body p {
  margin: 0;
}

.liberty-footer .liberty-comment .commentlist li .children {
  margin-left: 2rem;
}

.liberty-footer .liberty-comment .commentlist li .children li {
  list-style: none;
}

.liberty-footer .liberty-comment .commentlist .reply {
  text-align: right;
  padding-right: 2rem;
}

.liberty-footer .liberty-comment .commentlist .says {
  display: none;
}

.liberty-footer .liberty-comment #respond {
  background-color: #d9edf7;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.liberty-footer .liberty-comment #respond #liberty-comment-reply {
  font-size: 1.3rem;
}

.liberty-footer .liberty-comment #respond #commentform {
  margin-top: 1rem;
}

.liberty-footer .liberty-comment #respond #commentform .comment-form-author {
  width: 50%;
  padding-right: 25%;
}

.liberty-footer
  .liberty-comment
  #respond
  #commentform
  .comment-form-author
  input {
  width: 100%;
  border: 2px solid #29f;
  border-radius: 0.25rem;
}

.liberty-footer
  .liberty-comment
  #respond
  #commentform
  .liberty-comment-field
  #comment {
  width: 100%;
  border-radius: 0.25rem;
  border: 2px solid rgb(34, 153, 255);
  height: 71px;
  min-height: 50px;
}

.liberty-footer .liberty-comment .comment-form .form-submit {
  text-align: right;
}

.liberty-footer .liberty-comment .comment-form .comment-form-url {
  display: none;
}

.liberty-footer .liberty-comment .comnent-note {
  margin-top: 1rem;
}

.liberty-footer .liberty-comment .comment-form .form-submit input {
  border: 1px solid white;
  border-radius: 0.3rem;
  background-color: #3399ff;
  color: white;
}

.liberty-footer .liberty-comment .comment-form .form-submit input:hover {
  background-color: #f5f5f5;
  color: black;
}

/* hide capcha */
.grecaptcha-badge {
  visibility: hidden;
}
